.arrowCarrousselPrev {
    position: absolute;
    width: 45px !important;
    height: 80px !important;
    top: 40%;
    left: 13%;
}

.arrowCarrousselNext {
    position: absolute;
    width: 45px !important;
    height: 80px !important;
    top: 40%;
    right: 13%;
}

.carrousselNumber {
    position: absolute;
    left: 50%;
    top: 58%;
    color: white;
    font-size: 24px;
    font-weight: 500;
}