.logement {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 50px;
    border-radius: 25px;
    padding: 56px 50px;
}

.logement a {
    width: 100%;
    margin: 0;
}

@media screen and (max-width : 1024px) {
    .logement {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .logement {
        grid-template-columns: repeat(1, 1fr);
        background-color: inherit;
        gap: 20px;
        padding: inherit;
        margin-top: 22px;
    }
}